{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}


{% block content %}
    {{ render_form(form, action=request.full_path) }}
    <div class="container">
        <div class="row">
            <div class="col-8"></div>
            <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
                   aria-label=".form-control-lg example">

            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
            <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm"
                   aria-label=".form-control-sm example">

            <div class="col-4">
                <form method="post">
                    <p>{{ form.category }}</p>
                </form>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">category.name</option>
                    {% endfor %}
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}